// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import '~font-awesome/scss/font-awesome';

#profile {
    .badge {
        font-size: 1rem;
        font-weight: lighter;
    }
}
