<template>
    <section class="col-md-12 px-0">
        <textarea id="content" name="content" class="d-none">{{ postContent }}</textarea>
        <vue-editor v-model="postContent"></vue-editor>
    </section>
</template>
<script>
    import { VueEditor } from 'vue2-editor';

    export default {
        props: ['content'],
        components: {
            VueEditor,
        },
        data() {
            return {
                postContent: this.content,
            }
        }
    }
</script>
