<template>
    <div class="d-flex align-items-center ">
        <span class="mb-0" >Hidden</span>
        <form @submit.prevent="" class="ml-2 d-flex align-items-center">
            <div class="ml d-flex align-items-center">
                <input class="mr-1" type="radio" id="hidden" name="hidden" value="true" :checked="hidden == true" @change="hideTweet()">
                <label class="mb-0" for="notVisible">Yes</label>
            </div>
            <div class="ml-2 d-flex align-items-center">
                <input class="mr-1" type="radio" id="shown" name="hidden" value="false" :checked="hidden == false" @change="showTweet()">
                <label class="mb-0" for="shown">No</label>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: ['tweetId', 'hidden'],
        methods: {
            showTweet(id) {
                axios.post(`/tweets/${this.tweetId}/show`, {})
                    .then((data) => {
                        //
                    })
                    .catch(err => {
                        //
                    });
            },
            hideTweet(id) {
                axios.post(`/tweets/${this.tweetId}/hide`, {})
                    .then((data) => {
                        //
                    })
                    .catch(err => {
                        //
                    });
            }
        }
    }
</script>
